* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
}

#grilla {
    display: grid;
    grid-template-areas:
    "nav header header"
    "nav section section"
    "nav section section"
    "footer footer footer";
    grid-template-rows: 100px 400px 400px 200px ;
    grid-template-columns: 100px auto 100px;
    column-gap: 10px;
    row-gap: 10px;
    padding: 0.5%;
}


nav {
    grid-area: nav;
    background-image: linear-gradient(to left, #ffffff, #6e6e6e);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 6rem;
    font-weight: bold;
    font-size: 0.9rem;
}

li {
    margin-left: 0.5rem;
    list-style: none;
    transition: margin-left 1s;
}
li:hover {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    list-style: none;
    color:#000000;
    padding: 0.8rem;
}

header {
    grid-area: header;
    background-image: linear-gradient(to right, #ffffff, #2a2727);
    max-width: 100%;
    display: flex;
    justify-content: center;
}
section {
    grid-area: section;
    background-image:url(../img/jorgen-hendriksen-HsB4t2NvtLo-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 2.5rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.cita {
    margin-left: 33rem;
    margin-right: 2rem;
    margin-top: 2rem;
}
.autor {
    margin-top: 41rem;
    margin-right: 4rem;
    font-size: 4rem;
}


footer {
    grid-area: footer;
    background-image: linear-gradient(to right, #ffffff, #474747);
    text-align: center;
}

.grupo1 {
    width: 100%;
    margin-top: 1rem;
    color: #000000;
    font-weight: bold;
    font-size: 0.9rem;
}

.redessociales {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
.derechosreservados {
    font-size: 0.7rem;
}

.logo {
    height: 5.5rem;
    margin-right: 7rem;
    margin-top: 0rem;
    max-width: 100%;
    transition: height 2s; 
    padding: 0.3rem;
}

.logo:hover {
    height: 5.8rem;
}

@media screen and (max-width: 768px) {
    body {
        background-color: #000000;
    }
    
    #grilla {
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "footer";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 100%;
        row-gap: 10px;
        padding: 0.5%;
    }
    
    .logo {
        margin-left: 8rem;
    }

    nav {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    footer {
       text-align: center;
    }
    
    .cita {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .autor {
        font-size: 3rem;
    }
}

.seccionservicios {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    background-image: url(../img/amir-hosseini-p_bGwG123v0-unsplash.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.seccionservicios h1 {
    color: #000000;
    background-color: #474747;
    padding: 1rem;
    width: 10rem;
    margin: auto;
    
}
.seccionservicios h2{
    color: #000000;
    background-color: #a7a7a7;
}
.seccionservicios p {
    margin: auto;
}

.seccionhistoria {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../img/felix-itb1TbV5H7w-unsplash.jpg);
}

.seccionhistoria h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.seccionhistoria p {
    line-height: 1.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.secciongaleria {
    background-image: url(../img/roman-khripkov-PzCGId2ljsY-unsplash\ \(1\).jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.galeria {
    display: flex;
    padding: 5px;
}

.galeria img {
    height: 15rem;
}

.columna {
    flex: 15%;
    padding: 3%
}

.formulario {
    margin-top: 10rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #c1bbb2;
    font-weight: bold;
}

.seccionmapa {
    margin-top: 25rem;
    margin-right: 200rem;
    font-size: 3rem;
    color: #c1bbb2;
    font-weight: bold;
}

