.seccion-contacto {
    display: flex;
    flex-direction:column;
}

.seccion-contacto p {
    margin: 3rem;
    font-size: 1.5rem;
    text-align: center;
}


.formulario {
    color: #c1bbb2;
    font-weight: bold;
    background-color: #000000;
    margin-bottom: 5rem;
    text-align: center;
}

